.contactContainer {
    background-color: #7b89b7;
    width: 100%;
    display: flex;  
    flex-direction: column;
}

.contactContentContainer {
    margin: 20vw 15vw 20px 15vw;
    display: flex;
    flex-direction: column;
}

.contactContent {
    display: flex;
    gap: 60px;
}

.input {
    padding: 20px 20px;
    border: none;
    background-color: #7b89b7;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.input::placeholder {
  color: var(--color-text);
  font-size: clamp(0.5rem, 1.5vw, 3rem);
}

.submitBtn {
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    transition: 0.3s ease;
    z-index: 1;
}

.submitBtn:hover {
    background-color: #111111;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contactInfo {
    padding: 5px 0;
}